.git
.github
.gitignore
.dockerignore
Dockerfile
compose.yaml
compose.override.yaml
docker-compose.yaml
docker-compose.override.yaml
docs/
tests/
var/
vendor/
.phpunit.cache
.phpunit.result.cache
phpunit.dist.xml
phpunit.xml
.env.local
.env.*.local
.env.test
*.md
